{% extends 'layouts/main.html' %} {% block title %}About - CA-MIL{% endblock %}
{% block customLink %}/ar/about{% endblock %}
{% block content %}
<section class="breadcrumb_area">
  <div class="container">
    <div class="breadcrumb_text">
      <h6 class="wow fadeInUp" data-wow-delay="0.2s">CA-MIL LAB</h6>
      <h3 class="wow fadeInUp" data-wow-delay="0.2s">Centeralized and Automated Medical Image Analysis Laboratory </h3>
    </div>
  </div>
</section>


<section class="home_about_corona about_corona_aera">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="home_ab_img">
          <img class="wow fadeInUp" data-wow-delay="500ms" src="/static/images/about/about_man.png" alt>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="home_ab_text">
          <div class="home_ab_text_inner">
            <div class="home_ab_item">
              <h4 class="wow fadeInUp">What is Centeralized and Automated Medical Image Analysis Laboratory?</h4>
              <p class="wow fadeInUp" data-wow-delay="0.2s">
                Medical images are used in many therapeutic areas and contain a goldmine of information.
                 Part of this information is traditionally extracted by radiologists and with the advances made in image processing
                  and artificial intelligence, computers are now able to go deeper in the extraction of almost every detail which is hidden in the image. In clinical trials, 
                  centralized and automated analysis of medical images allow the removal of human-induced variability and bias. 
                  Thanks to our extensive experience in handling medical imaging variability, applying AI and trial statistics, and working with pharma companies, 
                  our goal is to position Radiomics as the next generation imaging CRO. For this, Radiomics provides a full package of services.
                  so our medical image Laboratory will help ill people to discover the illness early. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="about_cronacvirus_promo_area">
  <ul class="list-unstyled shap_img">
    <li><img src="/static/images/about/promo_bg_shap3.png" alt></li>
    <li><img src="/static/images/about/promo_bg_shap2.png" alt></li>
    <li><img src="/static/images/about/promo_bg_shap1.png" alt></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="coronavirus_promo_content">
          <h5>What is AI?</h5>
          <h2>What is Machine Learning?</h2>
          <p>
            Machine learning is a branch of artificial intelligence (AI) and computer science
             which focuses on the use of data and algorithms to imitate the way that humans learn,
              gradually improving its accuracy.Machine learning is an important component of the growing field of data science. Through the use of statistical methods,
               algorithms are trained to make classifications or predictions, and to uncover key insights in data mining projects.
          </p>
          <div class="row home_option">
            <div class="col-lg-6 col-sm-6">
              <div class="media">
                <div class="d-flex">
                  <i class="linearicons-shield-check"></i>
                </div>
                <div class="media-body">
                  <h4>Protection</h4>
                  <p>How to protect yourself</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="media">
                <div class="d-flex">
                  <i class="linearicons-pulse"></i>
                </div>
                <div class="media-body">
                  <h4>Symptoms</h4>
                  <p>Check basic symptoms</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="media">
                <div class="d-flex">
                  <i class="linearicons-bubbles"></i>
                </div>
                <div class="media-body">
                  <h4>Test</h4>
                  <p>Get realtime test for multiple diseases</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="media">
                <div class="d-flex">
                  <i class="linearicons-document2"></i>
                </div>
                <div class="media-body">
                  <h4>About CA-MIL</h4>
                  <p>Read more about CA-MIL</p>
                </div>
              </div>
            </div>
          </div>
          <h3>Computer Vision is closely related to Machine Learning</h3>
          <p>
            Computer vision is a field of artificial intelligence (AI) that enables computers and systems to derive meaningful information from digital images, videos and other visual inputs — 
            and take actions or make recommendations based on that information. If AI enables computers to think, computer vision enables them to see, observe and understand.

            Computer vision works much the same as human vision, except humans have a head start. Human sight has the advantage of lifetimes of context to train how to tell objects apart,
             how far away they are, whether they are moving and whether there is something wrong in an image.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_img">
    <img class="shap" src="/static/images/about/about_promo_bg.png" alt>
    <ul class="list-unstyled shap_img_two">
      <li><img src="/static/images/about/promo_bg_shap8.png" alt></li>
      <li><img src="/static/images/about/promo_bg_shap7.png" alt></li>
      <li><img src="/static/images/about/promo_bg_shap6.png" alt></li>
      <li data-parallax="{" y": 50}"><img src="/static/images/about/promo_bg_shap5.png" alt></li>
      <li data-parallax="{" x": 50}"><img src="/static/images/about/promo_bg_shap4.png" alt></li>
    </ul>
  </div>
</section>

<!--
<section class="about_faq_area">
  <div class="container">
    <div class="main_title text-center">
      <h5 class="wow fadeInUp">Have questions? Find answers!</h5>
      <h2 class="wow fadeInUp" data-wow-delay="0.2s">Frequently Asked Questions</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="faq_img">
          <img src="/static/images/about/faq_img.jpg" alt>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="question_list faq_inner">
          <div class="accordion" id="accordionExample">
            <div class="card wow fadeInUp">
              <div class="card-header" id="headingOne">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  What are coronaviruses?
                  <i class="linearicons-chevron-down"></i>
                </button>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="faq_content">
                    <p>
                      The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes can be fatal.
                    </p><br>
                    <p>
                      Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
                    </p><br>
                    <p> 
                      The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means that influenza can spread faster than COVID-19.
                    </p><br>
                    <p> 
                      While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card wow fadeInUp" data-wow-delay="0.2s">
              <div class="card-header" id="headingTwo">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  What is the COVID-19 virus?
                  <i class="linearicons-chevron-down"></i>
                </button>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="faq_content">
                    <p>
                       <strong>
                         COVID-19
                       </strong>
                    </p>
                        <p>
                        - COVID-19 is the disease caused by SARS-CoV-2, the coronavirus that emerged in December 2019.
                        </p>
                        <p>
                        - COVID-19 can be severe, and has caused millions of deaths around the world as well as lasting health problems in some who have survived the illness.
                        </p>
                        <p>
                        - The coronavirus can be spread from person to person. It is diagnosed with a test.
                        </p>
                        <p>
                        - The best way to protect yourself is to get vaccinated and boosted when you are eligible, follow testing guidelines, wear a mask, wash your hands and practice physical distancing.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card wow fadeInUp" data-wow-delay="0.3s">
              <div class="card-header" id="headingThree">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  What is the difference between COVID-19 and the flu?
                  <i class="linearicons-chevron-down"></i>
                </button>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="faq_content">
                    <p>
                      The first symptoms of COVID-19 and influenza (flu)
                      infections are often very similar. They both cause
                      fever and similar respiratory symptoms, which can
                      then range from mild through to severe disease, and
                      sometimes can be fatal. Both viruses are also
                      transmitted in the same way, by coughing or
                      sneezing, or by contact with hands, surfaces or
                      objects contaminated with the virus.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card wow fadeInUp" data-wow-delay="0.4s">
              <div class="card-header" id="headingfour">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour"
                  aria-expanded="false" aria-controls="collapsefour">
                  How is the virus spread?
                  <i class="linearicons-chevron-down"></i>
                </button>
              </div>
              <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="faq_content">
                    <p>
                      We know that the disease is caused by the SARS-CoV-2 virus, which spreads between people in several different ways.
                    </p><br>
                    <p>
                      - Current evidence suggests that the virus spreads mainly between people who are in close contact with each other, for example at a conversational distance. The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. Another person can then contract the virus when infectious particles that pass through the air are inhaled at short range (this is often called short-range aerosol or short-range airborne transmission) or if infectious particles come into direct contact with the eyes, nose, or mouth (droplet transmission).
                    </p><br>
                    <p>
                      - The virus can also spread in poorly ventilated and/or crowded indoor settings, where people tend to spend longer periods of time. This is because aerosols can remain suspended in the air or travel farther than conversational distance (this is often called long-range aerosol or long-range airborne transmission).
                    </p><br>
                    <p>
                      - People may also become infected when touching their eyes, nose or mouth after touching surfaces or objects that have been contaminated by the virus. 
                    </p><br>
                  </div>
                </div>
              </div>
            </div>
            <div class="card wow fadeInUp" data-wow-delay="0.5s">
              <div class="card-header" id="headingfive">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive"
                  aria-expanded="false" aria-controls="collapsefive">
                  What are the symptoms?
                  <i class="linearicons-chevron-down"></i>
                </button>
              </div>
              <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="faq_content">
                    <p>
                      Most common symptoms:
                    </p>
                      <p>- fever</p>
                      <p>- cough</p>
                      <p>- tiredness</p>
                      <p>- loss of taste or smell</p>
                      <br>
                    <p>
                      Less common symptoms:
                    </p>
                    <p>- sore throat</p>
                    <p>- headache</p>
                    <p>- aches and pains</p>
                    <p>- diarrhoea</p>
                    <p>- a rash on skin, or discolouration of fingers or toes</p>  
                    <p>- red or irritated eyes</p>  
                    </p><br>
                    <p>
                      Serious symptoms:
                    </p>
                    <p>- difficulty breathing or shortness of breath</p>
                    <p>- loss of speech or mobility, or confusion</p>
                    <p>- chest pain</p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<section class="about_features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="400ms">
        <div class="about_features_item">
          <div class="round_icon">
            <img class="our-images" src="/static/images/about/omar1.png" alt>
          </div>
          <h5>Computer Engineer</h5>
          <h3>Omar Khalil</h3>
          <p>
            Cloud Expert Trainer, and Program Manager @BambooGeeks | Project Reviewer & Mentor @Udacity | Microsoft Azure Administrator | AWS Cloud Developer | Machine Learning Engineer | GDSC Mentor.
            <a class="text_btn" href="https://www.linkedin.com/in/omarkhalil0/" target="_blank">Contact Me! <i class="linearicons-arrow-right"></i></a>
        </div>
      </div>
  </div>
</section>

<section class="check_box">
  <div class="container">
    <div class="check_now_area check_now_box">
      <div class="row m-0 justify-content-between">
        <div class="left">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/check-4.png" alt>
              <img src="/static/images/check-5.png" alt>
              <img src="/static/images/check-6.png" alt>
            </div>
            <div class="media-body">
              <h4>Think you might be affected?</h4>
              <p>
                Try our simple checker to find out what you need
                to do.
              </p>
            </div>
          </div>
        </div>
        <div class="right">
          <a class="icon_btn" href="/symptom">How To Use <i class="linearicons-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/scroll-animation/parallax.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/vendors/animate-css/wow.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}