{% extends 'layouts/main.html' %} {% block title %}Contact - CA-MIL{% endblock %}
{% block customLink %}/ar/contact{% endblock %}
{% block content %}
<section class="breadcrumb_area">
    <div class="container">
        <div class="breadcrumb_text">
            <h6 class="wow fadeInUp">Contact us</h6>
            <h3 class="wow fadeInUp" data-wow-delay="0.2s">Get in Touch</h3>
        </div>
    </div>
</section>


<section class="contact_area">
    <div class="container">
        <div class="row contact_details">
            <div class="col-lg-3 col-6">
                <div class="contact_details_item wow fadeInLeft" data-wow-delay="0.2s">
                    <i class="linearicons-map-marker"></i>
                    <h4>Address</h4>
                    <p>3 Magles El Shaab Street, Cairo, Egypt</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.3s">
                    <i class="linearicons-home4"></i>
                    <h4>Our Office</h4>
                    <p>Modern Academy For Engineering And Technology, El-Hadaba El-Wosta, El Mokattam, Cairo.</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.4s">
                    <i class="linearicons-telephone"></i>
                    <h4>Phone</h4>
                    <a href="tel:+201022418615">
                        <h6>+20 102 241 8615</h6>
                    </a>
                    <a href="tel:+201554602187">
                        <h6>+20 155 460 2187</h6>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.5s">
                    <i class="linearicons-envelope-open"></i>
                    <h4>Email</h4>
                    <a href="mailto:grad-proj@googlegroups.com">
                        <h6><span class="__cf_email__">grad-proj@googlegroups.com</span>
                        </h6>
                    </a>
                    <!--
                    <a href="mailto:grad-proj@googlegroups.com">
                        <h6><span class="__cf_email__">grad-proj@googlegroups.com</span>
                        </h6>
                    </a>
                    -->
                </div>
            </div>
        </div>
        <div class="contact_form_inner">
            <form id="contact" class="row contact_us_form appoinment_form js-form">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" name="name" placeholder required>
                        <label class="top_text"><i class="linearicons-user"></i>Your Name</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="email" name="email" placeholder required>
                        <label class="top_text"><i class="linearicons-envelope-open"></i>Your Email
                            Address</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" type="text" id="number" name="number" placeholder required>
                        <label class="top_text"><i class="linearicons-telephone"></i>Your Phone
                            Number</label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                            placeholder="Your Message" required></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group checkbox_field">
                        <div class="checkbox">
                            <input type="checkbox" value="None" id="policy" name="check">
                            <label class="l_text" for="policy">I accept the <span>Privacy Policy</span> and
                                the
                                <span>Term of Use.</span></label>
                        </div>
                        <button type="submit" value="submit" class="green_btn">
                            Send Message
                        </button>
                    </div>
                </div>
                <div id="success" class="success-message">
                    <i class="fa fa-check text-primary"></i> Thank you!. Your message
                    is successfully sent.
                </div>
                <div id="fail" class="error-message">We're sorry, but something went wrong.</div>
            </form>
        </div>
    </div>
</section>


<section class="map_area">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1727.7586858930729!2d31.31150182057934!3d29.993297279648644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583921c000aaad%3A0x89f4cbf0b7d34872!2sModern%20Academy%20for%20Engineering%20and%20Technology!5e0!3m2!1sen!2seg!4v1653538752272!5m2!1sen!2seg"
            width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
</section>


<section class="subscribe_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="media">
                    <div class="d-flex">
                        <i class="linearicons-mailbox-full"></i>
                    </div>
                    <div class="media-body">
                        <h4>Subscribe our newsletter</h4>
                        <p>
                            Join our subscribers list to get latest news and updates
                            about CA-MIL delivered directly in your inbox.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mail_box">
                    <div class="input-group">
                        <input id="news-letter-email" type="text" class="form-control" placeholder="&#xe997; Enter your email"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="newsletterSubscribe();">
                                <i class="linearicons-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <label class="container-checkbox">I accept the <span>Privacy Policy.</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script>
    //Contanct Email Message and Alert Script
    document.getElementById('contact').onsubmit = function(e){  
        e.preventDefault();
        var form = document.getElementById('contact');
        fetch('/contact', {
            method: 'POST', 
            body: JSON.stringify({ 
            'name': form['name'].value,
            'email': form['email'].value,
            'phone': form['number'].value,
            'message': form['message'].value
        }),
        headers: {
          'Content-Type': 'application/json'
        }
        }).then(function(response){
            return response.json();
        }).then(function(jsonResponse){
            if(jsonResponse['success'] == true){
            const success = document.getElementById('success');
            success.style.display = "block";
            form.reset();
            }
        }).catch(function(error){
            const fail = document.getElementById('fail');         
            fail.style.display = "block";
        });
    };
    function newsletterSubscribe(){
      fetch('/newsletter-subscribe', {
              method: 'POST', 
              body: JSON.stringify({ 
              'email': document.getElementById("news-letter-email").value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
          }).then(function(response){
              return response.json();
          }).then(function(jsonResponse){
              if(jsonResponse['success'] == true){
                console.log();
                // Show a pop-up alert to thank the user
                alert('Thank you for subscribing to our newsletter!');
              }
          }).catch(function(error){
              console.log();
          });
    };
</script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/animate-css/wow.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEQhXdvO2Yz16kSBaeBzLt7wWRkECXmlg"></script>
<script src="/static/js/gmaps.min.js"></script>
<script src="/static/js/map-active.js"></script>

<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}