{% extends 'layouts/dark-ar.html' %} {% block title %}الوقاية - CA-MIL{% endblock %}
{% block customLink %}/prevention{% endblock %}
{% block content %}
<section class="prevention_banner">
    <div class="container">
        <div class="prevention_text">
            <h6 class="wow fadeInUp">ماذا تريد أن تفعل</h6>
            <h3 class="wow fadeInUp" data-wow-delay="0.2s">كيف تمنع كوفيد؟</h3>
            <br><br>
            <img class="img-fluid" src="/static/images/breadcrumb/prevention-persong.png" alt>
        </div>
    </div>
</section>


<section class="protect_yourself_area p_100">
    <div class="container">
        <div class="main_title_2 text-center">
            <h2 class="wow fadeInUp">حافظ على <span>التباعد الاجتماعي</span> للبقاء في أمان</h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">مع تزايد عدد حالات كوفيد كل يوم ، يقدم علماء النفس رؤىا حول
                كيفية فصل نفسك عن الآخرين ، مع الاستمرار في الحصول على الدعم الاجتماعي الذي تحتاجه.</p>
        </div>
        <div class="row protect_inner flex-row-reverse">
            <div class="col-lg-6">
                <div class="main_title">
                    <h5>ماذا تريد أن تفعل</h5>
                    <h2>كيف تمنع كوفيد؟</h2>
                </div>
                <div class="row protect_list_inner">
                    <div class="col-6">
                        <div class="protect_list_item">
                            <div class="protect_list_title">
                                <h3>يجب أن تفعل</h3>
                                <h6>تأكد من متابعته</h6>
                            </div>
                            <ul class="nav flex-column">
                                <li>
                                    <a><i class="linearicons-home4"></i>ابق فى المنزل </a>
                                </li>
                                <li>
                                    <a><i class="linearicons-desk-tape"></i>ارتدى كمامة</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-tissue"></i>استخدم دائمًا المناديل</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-couch"></i>عقم منزلك</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-rain"></i>اغسل يديك</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-thermometer"></i>كثرة العزلة الذاتية</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-bottle"></i>كثرة تناول الماء</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="protect_list_item red">
                            <div class="protect_list_title">
                                <h3>من الواجب ان تتجنب</h3>
                                <h6>تأكد من متابعته</h6>
                            </div>
                            <ul class="nav flex-column">
                                <li>
                                    <a><i class="linearicons-man-woman"></i>التباعد الاجتماعي</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-paw"></i>تجنب الحيوانات </a>
                                </li>
                                <li>
                                    <a><i class="linearicons-woman"></i>لا تلمس وجهك </a>
                                </li>
                                <li>
                                    <a><i class="linearicons-hand"></i>تجنب المصافحة بالأيدى</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-chair"></i>تجنب الأسطح المصابة</a>
                                </li>
                                <li>
                                    <a><i class="linearicons-drop-crossed"></i>تجنب القطرات </a>
                                </li>
                                <li>
                                    <a><i class="linearicons-plane-crossed"></i>لا تقم بالسفر</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="protect_img">
                    <img class="img-fluid" src="/static/images/protect-img-2.png" alt>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="prevent_area prevent_right">
    <div class="container">
        <div class="row prevent_inner flex-row-reverse">
            <div class="col-lg-6">
                <div class="prevent_item_inner row">
                    <div class="col-sm-6">
                        <div class="prevent_item wow fadeInUp">
                            <div class="prevent_img">
                                <img class="img-fluid" src="/static/images/prevent/prevent-1.png" alt>
                            </div>
                            <div class="prevent_text">
                                <h4>ابق فى المنزل </h4>
                                <p>
                                    ابق في المنزل إذا لاحظت الأعراض واستشر طبيبك عبر الهاتف
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="prevent_item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="prevent_img">
                                <img class="img-fluid" src="/static/images/prevent/prevent-2.png" alt>
                            </div>
                            <div class="prevent_text">
                                <h4>اغسل يديك كثيرًا</h4>
                                <p>
                                    نظف يديك بمطهر كحولي أو اغسلهما بالصابون لمدة عشرين ثانية على الأقل
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="prevent_item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="prevent_img">
                                <img class="img-fluid" src="/static/images/prevent/prevent-3.png" alt>
                            </div>
                            <div class="prevent_text">
                                <h4>حافظ على التباعد الاجتماعي</h4>
                                <p>
                                    احتفظ بمسافة لا تقل عن 2 متر بينك أو بين أي شخص إذا ذهبت بين الناس.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="prevent_item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="prevent_img">
                                <img class="img-fluid" src="/static/images/prevent/prevent-4.png" alt>
                            </div>
                            <div class="prevent_text">
                                <h4>ارتداء كمامه</h4>
                                <p>
                                    عندما تكون بالقرب من أشخاص آخرين.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="prevent_details">
                    <div class="prevent_details_text">
                        <h5>ماذا عليك ان تفعل</h5>
                        <h2>كيف نمنع فيروس كوفيد</h2>
                        <p>
                            بعض التفاصيل غير معروفة حول كيفية انتشار المرض ويتم تحديدها. تؤكد منظمة الصحة العالمية ومركز
                            السيطرة على الأمراض أنه ينتشر بشكل أساسي أثناء الاتصال الوثيق وعن طريق الرذاذ التنفسي
                            <br> ينتج عندما يسعل الناس أو يعطسون ؛ مع وجود اتصال وثيق في نطاق متر إلى مترين (3 إلى 6
                            أقدام). وجدت دراسة في سنغافورة أن السعال المكشوف يمكن أن يؤدي إلى تساقط قطرات تصل إلى 4.5
                            متر (15 قدمًا).
                        </p>
                        <p>
                            يمكن أيضًا إنتاج قطرات من الجهاز التنفسي أثناء الزفير ، بما في ذلك عند التحدث ، على الرغم من
                            أن الفيروس لا ينتقل عبر الهواء بشكل عام. يمكن أن تهبط هذه القطرات في أفواه أو أنوف الأشخاص
                            القريبين أو ربما يتم استنشاقهم في الرئتين. بعض الإجراءات الطبية مثل التنبيب والقلب الرئوي
                            ...
                        </p>
                        <a class="green_btn" href="/ar/symptom"><i class="linearicons-shield-check"></i> أقرا اكثر عن اعراض
                            كوفيد</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="washing_process_area pad_btm">
    <div class="container">
        <div class="main_title text-center white">
            <h5>عملية غسل اليدين</h5>
            <h2>كيف تغسل يديك</h2>
        </div>
        <div class="washing_process_inner row">
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="washing_item wow fadeIn" data-wow-delay="400ms">
                    <div class="icon">
                        <img src="/static/images/icon/washing-1.png" alt>
                        <div class="number">
                            1
                        </div>
                    </div>
                    <p><span>ضع الصابون</span> وافرك يداك معا</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="washing_item wow fadeIn" data-wow-delay="500ms">
                    <div class="icon">
                        <img src="/static/images/icon/washing-2.png" alt>
                        <div class="number">
                            2
                        </div>
                    </div>
                    <p>
                        <span>أستخدم يد واحده</span> لتفرك ظهر يدك الأخرى والعكس صحيح
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="washing_item wow fadeIn" data-wow-delay="600ms">
                    <div class="icon">
                        <img src="/static/images/icon/washing-3.png" alt>
                        <div class="number">
                            3
                        </div>
                    </div>
                    <p>
                        <span>أفرك يداك </span> معا ونظف بين أصابعك
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="washing_item wow fadeIn" data-wow-delay="700ms">
                    <div class="icon">
                        <img src="/static/images/icon/washing-4.png" alt>
                        <div class="number">
                            4
                        </div>
                    </div>
                    <p>
                        <span>أفرك الجزء الخلفى</span> من أصابعك في راحة يدك
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="washing_item wow fadeIn" data-wow-delay="800ms">
                    <div class="icon">
                        <img src="/static/images/icon/washing-5.png" alt>
                        <div class="number">
                            5
                        </div>
                    </div>
                    <p>
                        <span>افرك إبهامك</span> باستخدام يدك الأخرى والعكس صحيح
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
                <div class="washing_item wow fadeIn" data-wow-delay="900ms">
                    <div class="icon">
                        <img src="/static/images/icon/washing-6.png" alt>
                        <div class="number">
                            6
                        </div>
                    </div>
                    <p>
                        <span>أفرك </span> أطراف اصابعك على راحة يدك والعكس صحيح
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/vendors/animate-css/wow.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}