{% extends 'layouts/main.html' %} {% block title %}Search Nothing - CA-MIL{% endblock %}
{% block customLink %}/ar/search{% endblock %}
{% block content %}
<section class="search_found_area">
    <div class="overlay_bg"></div>
    <div class="section_vertical_align">
        <div class="container">
            <div class="search_found_text text-center">
                <i class="linearicons-sad icon"></i>
                <h2>لم يتم العثور على شيء</h2>
                <p>لم يتم العثور على شيء يطابق معايير البحث الخاصة بك. يرجى المحاولة مرة أخرى مع كلمات مختلفة
                    أو ارجع إلى <a href>الصفحة الرئيسية</a></p>
                <form action="#" class="search-form input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search">
                    <span class="input-group-addon"><button type="submit"><i
                                class="linearicons-magnifier"></i></button></span>
                </form>
            </div>
            <div class="footer_copyright">
                <img src="/static/images/f-logo.png" alt>
                <p>© حقوق الملكية
                    <script>
                        document.write(new Date().getFullYear());
                    </script> CA-MIL Organisation Ltd.
                </p>
                <ul class="nav">
                    <li><a href="#">شروط الاستخدام</a></li>
                    <li><a href="#">حقوق الملكية</a></li>
                    <li><a href="#">Impressum</a></li>
                </ul>
                <h6>
                    Designed with <i class="linearicons-heart"></i>
                    by <span>creakits</span>
                </h6>
            </div>
        </div>
    </div>
</section>

</div>
<div class="modal fade search_modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="/static/images/icon/close-white.png" alt>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type here..."
                        aria-label="Recipient's username">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="linearicons-magnifier"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}