{% extends 'layouts/main-ar.html' %} {% block title %}بحث - CA-MIL{% endblock %}
{% block customLink %}/search{% endblock %}
{% block content %}
<section class="breadcrumb_area search_breadcrumb">
    <div class="container">
        <div class="breadcrumb_text text-left">
            <h3>نتائج البحث عن “<span>الحماية</span>”</h3>
            <ul class="nav">
                <li><a href>الصفحة الرئيسية</a></li>
                <li><a href="sample-right-sidebar.html"> نتائج البحث عن الحماية</a></li>
            </ul>
        </div>
    </div>
</section>


<section class="search_page_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="search_inner">
                    <div class="media search_item">
                        <img src="/static/images/search/search_1.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>كيف تحمي نفسك</h3>
                            </a>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a class="text_btn" href="#">View more<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_2.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>كيف ينتقل؟</h3>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <a class="text_btn" href="#">View more<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_3.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>كيف نمنع كوفيد </h3>
                            </a>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                voluptatem quia voluptas.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_4.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>كيف تحافظ على صحتك أثناء العمل في المنزل</h3>
                            </a>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                dolore magnam.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_5.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>ما هو التباعد الاجتماعي؟</h3>
                            </a>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_6.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>تعرف على خبرائنا</h3>
                            </a>
                            <p>corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                                autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                                molestiae consequatur.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_7.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>ما هي الحالة الصحية الأساسية؟</h3>
                            </a>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_8.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>ابق فى المنزل </h3>
                            </a>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_9.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>كيف تغسل يديك</h3>
                            </a>
                            <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                                dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
                                libero tempore, cum soluta.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="media search_item">
                        <img src="/static/images/search/search_10.jpg" alt>
                        <div class="media-body">
                            <a href="#">
                                <h3>ما هي الأعراض المشابهة؟</h3>
                            </a>
                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque
                                earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
                                maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                            <a class="text_btn" href="#">عرض المزيد<i class="linearicons-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row blog_pagination">
                    <div class="col-md-2">
                        <a class="pagi_btn prev" href="#"><i class="linearicons-arrow-left"></i> Newer posts</a>
                    </div>
                    <div class="col-md-8">
                        <nav class="navigation" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item blank"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-2 text-right">
                        <a class="pagi_btn next" href="#">أقدم المشاركات <i class="linearicons-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right_sidebar">
                    <aside class="right_widget ct_widget">
                        <div class="r_wd_title">
                            <h3>فئات</h3>
                        </div>
                        <ul class="nav flex-column">
                            <li><a href="#"><i class="linearicons-arrow-right"></i>الأخبار السياسية
                                    <span>(17)</span></a></li>
                            <li><a href="#"><i class="linearicons-arrow-right"></i>الطب
                                    <span>(29)</span></a></li>
                            <li><a href="#"><i class="linearicons-arrow-right"></i>التأثيرات الاقتصادية
                                    <span>(8)</span></a></li>
                            <li><a href="#"><i class="linearicons-arrow-right"></i>الوقاية
                                    <span>(33)</span></a></li>
                            <li><a href="#"><i class="linearicons-arrow-right"></i>التعليم
                                    <span>(27)</span></a></li>
                            <li><a href="#"><i class="linearicons-arrow-right"></i>الحجر الصحي
                                    <span>(9)</span></a></li>
                            <li><a href="#"><i class="linearicons-arrow-right"></i>الصحة <span>(18)</span></a>
                            </li>
                            <li><a href="#"><i class="linearicons-arrow-right"></i>السفر <span>(5)</span></a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="right_widget subs_widget">
                        <img src="/static/images/subscribe-widget-bg.jpg" alt>
                        <div class="subs_text">
                            <i class="linearicons-envelope-open"></i>
                            <h4>ابق على اطلاع</h4>
                            <p>انضم إلى قائمة المشتركين لدينا للحصول على آخر الأخبار</p>
                            <a class="subs_btn" href="#">اشترك</a>
                        </div>
                    </aside>
                    <aside class="right_widget post_widget">
                        <div class="r_wd_title">
                            <h3>المشاركات الشائعة</h3>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="/static/images/blog/tranding-post/post-1.jpg" alt>
                            </div>
                            <div class="media-body">
                                <h4>ما هو التدريع ومن يحتاجه؟</h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="/static/images/blog/tranding-post/post-2.jpg" alt>
                            </div>
                            <div class="media-body">
                                <h4>ماذا تفعل إذا كنت بحاجة إلى زيارة طبيب عام أو الحصول على دواء؟</h4>
                            </div>
                        </div>
                        <div class="media">
                            <div class="d-flex">
                                <img src="/static/images/blog/tranding-post/post-3.jpg" alt>
                            </div>
                            <div class="media-body">
                                <h4>هل انت بحاجة لتطهير منزلك؟</h4>
                            </div>
                        </div>
                    </aside>
                    <aside class="right_widget tag_widget">
                        <div class="r_wd_title">
                            <h3>الكلمات الشعبية</h3>
                        </div>
                        <ul class="nav">
                            <li><a href="#">vaccine</a></li>
                            <li><a href="#">coronavirus</a></li>
                            <li><a href="#">covid</a></li>
                            <li><a href="#">sars ncov</a></li>
                            <li><a href="#">elderly</a></li>
                            <li><a href="#">senior</a></li>
                            <li><a href="#">pregnancy</a></li>
                            <li><a href="#">economical</a></li>
                            <li><a href="#">c19</a></li>
                            <li><a href="#">stayathome</a></li>
                            <li><a href="#">school</a></li>
                        </ul>
                    </aside>
                    <aside class="right_widget wash_widget">
                        <h6>عملية غسل اليدين</h6>
                        <h3>كيف تغسل يديك بشكل صحيح</h3>
                        <p>هل تغسل يديك بشكل صحيح؟ يعرف معظمنا مدى أهمية ممارسة نظافة اليدين الجيدة. لكن لمجرد أنك تغسل
                            يديك كثيرًا ، فهذا لا يعني أنك تغسلهما جيدًا.
                        </p>
                        <a class="text_btn" href="#">عرض المزيد <i class="linearicons-arrow-right"></i></a>
                    </aside>
                    <aside class="right_widget archive_widget ct_widget">
                        <div class="r_wd_title">
                            <h3>أرشيف</h3>
                        </div>
                        <ul class="nav flex-column">
                            <li><a href="#"><i class="linearicons-calendar-text"></i>ابريل 2020
                                    <span>(49)</span></a></li>
                            <li><a href="#"><i class="linearicons-calendar-text"></i>مارس 2020
                                    <span>(40)</span></a></li>
                            <li><a href="#"><i class="linearicons-calendar-text"></i>فبراير 2020
                                    <span>(32)</span></a></li>
                            <li><a href="#"><i class="linearicons-calendar-text"></i>يناير 2020
                                    <span>(26)</span></a></li>
                            <li><a href="#"><i class="linearicons-calendar-text"></i>ديسيمبر 2019
                                    <span>(7)</span></a></li>
                            <li><a href="#"><i class="linearicons-calendar-text"></i>نوفمبر 2019
                                    <span>(0)</span></a></li>
                            <li><a href="#"><i class="linearicons-calendar-text"></i>أكتوبر 2019
                                    <span>(0)</span></a></li>
                            <li><a href="#"><i class="linearicons-calendar-text"></i>سبتمبر 2019
                                    <span>(0)</span></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="check_now_area check_now_box full_widget_check">
    <div class="container">
        <div class="row m-0 justify-content-between">
            <div class="left">
                <div class="media">
                    <div class="d-flex">
                        <img src="/static/images/check-4.png" alt>
                        <img src="/static/images/check-5.png" alt>
                        <img src="/static/images/check-6.png" alt>
                    </div>
                    <div class="media-body">
                        <h4>هل تعتقد انك مريض؟</h4>
                        <p>
                            جرب أداة اختبارنا البسيطة للتعرف على ما لديك
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <a class="icon_btn" href="#">اختبر الان <i class="linearicons-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}