{% extends 'layouts/main.html' %} {% block title %}Symptom - CA-MIL{% endblock %}
{% block customLink %}/ar/symptom{% endblock %}
{% block content %}
<section class="breadcrumb_area">
  <div class="container">
    <div class="breadcrumb_text">
      <h6 class="wow fadeInUp">How to Use</h6>
      <h3 class="wow fadeInUp" data-wow-delay="0.2s">For Several Diseases</h3>
      <video controls autoplay src="/static/video/websiteVideo.mp4" width="1000" ></video>
    </div>
  </div>
</section>




<section class="home_about_corona about_corona_aera">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="home_ab_img text-center apps_craft_animation">
          <img class="wow fadeInUp" data-wow-delay="400ms" src="/static/images/symptom/man_img.png" alt>
          <img class="covid_img one" src="/static/images/symptom/covid1.png" alt>
          <img class="covid_img two" src="/static/images/symptom/covid2.png" alt>
          <img class="covid_img three" src="/static/images/symptom/covid3.png" alt>
          <img class="covid_img four" src="/static/images/symptom/covid4.png" alt>
          <div class="covid_img five">
            <img class="layer layer2" data-depth="0.5" src="/static/images/symptom/covid5.png" alt>
          </div>
          <div class="covid_img six">
            <img class="layer layer2" data-depth="0.3" src="/static/images/symptom/covid6.png" alt>
          </div>
          <img class="covid_img seven" src="/static/images/symptom/covid7.png" alt>
          <img class="covid_img eight" src="/static/images/symptom/covid8.png" alt>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="home_ab_text">
          <div class="home_ab_text_inner symptoms_about_inner">
            <div class="home_ab_item">
              <h6 class="wow fadeInUp">Check yourself</h6>
              <!-- 
              <h4 class="wow fadeInUp" data-wow-delay="0.1s">Basic Diseases</h4>
              -->
              <p class="wow fadeInUp" data-wow-delay="0.2s">
                Checking in with yourself means to make intentional steps to pay attention to how you feel on an
                 emotional, mental, and physical level. Asking yourself questions and setting aside time to check in 
                 with yourself regularly can reveal more about your mental health and emotional needs. 
                From this practice, you can also make actional steps to address your reflections.
              </p>
              <p class="wow fadeInUp" data-wow-delay="0.3s">
                So through our website you can make it easier with our checkers 
                you can check if you have a disease or not faster at your home 
                you can try it right now by clicking on disease Checker Button Below !

              </p>
              <a class="green_btn wow fadeInUp" data-wow-delay="0.4s" href="/symptom-checker"><i
                  class="linearicons-pulse"></i>
                disease Checker</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="isolation_area isolation_margin_bottom">
  <div class="container">
    <div class="main_title text-center white">
      <h2 class="wow fadeInUp">Recommend Self-isolation</h2>
      <p class="wow fadeInUp" data-wow-delay="0.2s">
        Follow these simple instructions for your health and the health of your family
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="media isolation_item wow fadeInUp">
          <div class="isolation_person_img">
            <img src="/static/images/symptom/isolation_man.png" alt>
          </div>
          <div class="media-body">
            <h5>First , Stay at home when you're sick
            </h5>
            <p>
              Stay home and limit your contact with others when you're sick or experiencing any 
              COVID-like symptoms, even if mild. This will help prevent others in your community 
              from getting sick.

            </p>
            <a class="text_btn" href="/about">Read more <i class="linearicons-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="media isolation_item wow fadeInUp" data-wow-delay="0.2s">
          <div class="isolation_person_img">
            <img src="/static/images/symptom/isolation_man.png" alt>
          </div>
          <div class="media-body">
            <h5>Second , Wear a respirator
            </h5>
            <p>
              If you're at home sick or in isolation, wear the best quality and best fitting respirator (like an N95 or KN95) or mask available when you:

              have to leave your home or co-living setting (for example, to seek medical attention)
              are in a shared indoor space by yourself or with others, like a:
              hallway
              kitchen
              washroom
              aren't able to maximize your distance with others in a shared outdoor space, like a:
              balcony
              backyard
              are receiving care (either direct physical care or close-range interactions)
            </p>
            <a class="text_btn" href="/about">Read more <i class="linearicons-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="media isolation_item wow fadeInUp" data-wow-delay="0.3s">
          <div class="isolation_person_img">
            <img src="/static/images/symptom/isolation_man.png" alt>
          </div>
          <div class="media-body">
            <h5>Third, Actions to avoid
            </h5>
            <p>
              in-person interactions with household members, including being in the same room
              leaving your home or co-living setting unless you need medical care
              going to public spaces or visiting with others in-person
              sharing a washroom with household members, but if this isn't possible:
              sleeping in the same room with household members, but if this isn't possible:
              sharing personal items (for example, masks, utensils, food and drink, electronic devices)
              in-person contact with people who are at risk of more severe disease or outcomes

            </p>
            <a class="text_btn" href="/about">Read more <i class="linearicons-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="symptoms_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="title_text wow fadeInUp" data-wow-delay="400ms">
          <h5>Several diseases</h5>
          <h2>What are the typical steps</h2>
        </div>
      </div>
    </div>
    <div class="row symptoms_inner symptoms_inner_two">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="400ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-1.png" alt>
            </div>
            <div class="media-body">
              <h4>one</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor harum consequuntur, odit suscipit est,
                tenetur nemo pariatur non blanditiis quos qui et facilis. Nostrum quis necessitatibus exercitationem
                nesciunt pariatur. Nesciunt.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="500ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-2.png" alt>
            </div>
            <div class="media-body">
              <h4>two</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum qui incidunt nam iure debitis ex
                corporis, libero architecto? Labore porro mollitia iusto praesentium quibusdam quaerat, iste quas
                aperiam sunt nihil.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="600ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-3.png" alt>
            </div>
            <div class="media-body">
              <h4>three</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vitae accusamus, minima natus cumque
                eligendi, impedit nostrum dignissimos explicabo nam laborum in! Omnis quaerat exercitationem molestias
                error nihil quibusdam consequatur!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="700ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-4.png" alt>
            </div>
            <div class="media-body">
              <h4>four</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam nesciunt culpa aut iure reprehenderit
                facere et ut quidem inventore commodi magnam, quos aperiam corrupti, in officia illo, distinctio ipsam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<section class="check_now_area check_now_box full_widget_check">
  <div class="container">
    <div class="row m-0 justify-content-between">
      <div class="left">
        <div class="media">
          <div class="d-flex">
            <img src="/static/images/check-4.png" alt>
            <img src="/static/images/check-5.png" alt>
            <img src="/static/images/check-6.png" alt>
          </div>
          <div class="media-body">
            <h4>Think you might have the disease?</h4>
            <p>
              Try with your CT scan and find out if you have the disease or not
            </p>
          </div>
        </div>
      </div>
      <div class="right">
        <a class="icon_btn" href="/symptom-checker-covid">Check now <i class="linearicons-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/parallax.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/vendors/animate-css/wow.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}