{% extends 'layouts/main-ar.html' %} {% block title %}الأعراض - CA-MIL{% endblock %}
{% block customLink %}/symptom{% endblock %}
{% block content %}
<section class="breadcrumb_area">
  <div class="container">
    <div class="breadcrumb_text">
      <h6 class="wow fadeInUp">كيفية الاستخدام </h6>
      <h3 class="wow fadeInUp" data-wow-delay="0.2s">امراض مختلفة </h3>
      <video controls autoplay src="/static/video/websiteVideo.mp4" width="1000"></video>
    </div>
  </div>
</section>




<section class="home_about_corona about_corona_aera">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="home_ab_img text-center apps_craft_animation">
          <img class="wow fadeInUp" data-wow-delay="400ms" src="/static/images/symptom/man_img.png" alt>
          <img class="covid_img one" src="/static/images/symptom/covid1.png" alt>
          <img class="covid_img two" src="/static/images/symptom/covid2.png" alt>
          <img class="covid_img three" src="/static/images/symptom/covid3.png" alt>
          <img class="covid_img four" src="/static/images/symptom/covid4.png" alt>
          <div class="covid_img five">
            <img class="layer layer2" data-depth="0.5" src="/static/images/symptom/covid5.png" alt>
          </div>
          <div class="covid_img six">
            <img class="layer layer2" data-depth="0.3" src="/static/images/symptom/covid6.png" alt>
          </div>
          <img class="covid_img seven" src="/static/images/symptom/covid7.png" alt>
          <img class="covid_img eight" src="/static/images/symptom/covid8.png" alt>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="home_ab_text">
          <div class="home_ab_text_inner symptoms_about_inner">
            <div class="home_ab_item">
              <h6 class="wow fadeInUp">اختبر نفسك </h6>
              <!-- 
              <h4 class="wow fadeInUp" data-wow-delay="0.1s">Basic Diseases</h4>
              -->
              <p class="wow fadeInUp" data-wow-delay="0.2s">
                الاختبار مع نفسك يعني اتخاذ خطوات مقصودة للاهتمام بما تشعر به على المستوى العاطفي والعقلي والجسدي. طرح
                الأسئلة على نفسك وتخصيص وقت للاختبار مع نفسك بانتظام يمكن أن يكشف المزيد عن صحتك العقلية واحتياجاتك
                العاطفية.
              </p>
              <p class="wow fadeInUp" data-wow-delay="0.3s">
                لذلك من خلال موقعنا الإلكتروني ، يمكنك تسهيل الأمر باستخدام الاختبار الخاص بنا ، يمكنك التحقق مما
                إذا كان لديك مرض أو ليس لديك بطريقة سريعة من منزلك ، يمكنك تجربته الآن من خلال النقر على زر اختبار المرض
                الذى بالأسفل !

              </p>
              <a class="green_btn wow fadeInUp" data-wow-delay="0.4s" href="/ar/symptom-checker"><i
                  class="linearicons-pulse"></i>
                اختبار المرض</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="isolation_area isolation_margin_bottom">
  <div class="container">
    <div class="main_title text-center white">
      <h2 class="wow fadeInUp">اقتراح بالعزلة الذاتية</h2>
      <p class="wow fadeInUp" data-wow-delay="0.2s">
        اتبع هذه التعليمات البسيطة من أجل صحتك وصحة عائلتك
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="media isolation_item wow fadeInUp">
          <div class="isolation_person_img">
            <img src="/static/images/symptom/isolation_man.png" alt>
          </div>
          <div class="media-body">
            <h5>أولاً ، ابق في المنزل عندما تكون مريضاً
            </h5>
            <p>
              ابق في المنزل وقلل من التعامل مع الآخرين عندما تكون مريضًا أو تعاني من أي أعراض شبيهة بـكوفيد ، حتى لو
              كانت خفيفة. سيساعد هذا في منع الآخرين في مجتمعك من الإصابة بالمرض

            </p>
            <a class="text_btn" href="/ar/about">أقرا اكثر <i class="linearicons-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="media isolation_item wow fadeInUp" data-wow-delay="0.2s">
          <div class="isolation_person_img">
            <img src="/static/images/symptom/isolation_man.png" alt>
          </div>
          <div class="media-body">
            <h5>ثانيًا ، ارتدِ كمامة
            </h5>
            <p>

              إذا كنت مريضًا في المنزل أو في عزلة ، فارتدي أفضل جهاز تنفس صناعي عالي الجودة أو كمامة
              متاحًا عندما:
              يجب أن تترك منزلك أو مكان المعيشة المشتركة (على سبيل المثال ، للحصول على رعاية طبية) في مساحة داخلية
              مشتركة بنفسك أو مع الآخرين ، على سبيل المثال: لا يمكن لحمام المطبخ في الردهة زيادة المسافة إلى أقصى حد مع
              الآخرين في مكان مشترك. مساحة خارجية ، مثل: شرفة
              يتلقى الفناء الخلفي الرعاية (إما رعاية جسدية مباشرة أو تفاعلات قريبة المدى)

            </p>
            <a class="text_btn" href="/ar/about">أقرا اكثر <i class="linearicons-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="media isolation_item wow fadeInUp" data-wow-delay="0.3s">
          <div class="isolation_person_img">
            <img src="/static/images/symptom/isolation_man.png" alt>
          </div>
          <div class="media-body">
            <h5>ثالثًا ، الإجراءات التي يجب تجنبها
            </h5>
            <p>
              التفاعلات الشخصية مع أفراد الأسرة ، بما في ذلك التواجد في نفس الغرفة ومغادرة منزلك أو مكان العيش المشترك
              ما لم تكن بحاجة إلى رعاية طبية أو الذهاب إلى الأماكن العامة أو الزيارة مع الآخرين شخصيًا
              مشاركة الحمام مع أفراد الأسرة ، ولكن إذا لم يكن ذلك ممكنًا: النوم في نفس الغرفة مع أفراد الأسرة ، ولكن إذا
              لم يكن ذلك ممكنًا: مشاركة العناصر الشخصية (على سبيل المثال ، الأقنعة والأواني والطعام والشراب والأجهزة
              الإلكترونية) الاتصال الشخصي مع الأشخاص المعرضين لخطر الإصابة بأمراض أو نتائج أكثر خطورة

            </p>
            <a class="text_btn" href="/ar/about">أقرا اكثر <i class="linearicons-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="symptoms_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="title_text wow fadeInUp" data-wow-delay="400ms">
          <h5>Several diseases</h5>
          <h2>What are the typical steps</h2>
        </div>
      </div>
    </div>
    <div class="row symptoms_inner symptoms_inner_two">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="400ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-1.png" alt>
            </div>
            <div class="media-body">
              <h4>one</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor harum consequuntur, odit suscipit est,
                tenetur nemo pariatur non blanditiis quos qui et facilis. Nostrum quis necessitatibus exercitationem
                nesciunt pariatur. Nesciunt.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="500ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-2.png" alt>
            </div>
            <div class="media-body">
              <h4>two</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum qui incidunt nam iure debitis ex
                corporis, libero architecto? Labore porro mollitia iusto praesentium quibusdam quaerat, iste quas
                aperiam sunt nihil.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="600ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-3.png" alt>
            </div>
            <div class="media-body">
              <h4>three</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vitae accusamus, minima natus cumque
                eligendi, impedit nostrum dignissimos explicabo nam laborum in! Omnis quaerat exercitationem molestias
                error nihil quibusdam consequatur!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="700ms">
        <div class="symptoms_item">
          <div class="media">
            <div class="d-flex">
              <img src="/static/images/symptoms-user/symptoms-4.png" alt>
            </div>
            <div class="media-body">
              <h4>four</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam nesciunt culpa aut iure reprehenderit
                facere et ut quidem inventore commodi magnam, quos aperiam corrupti, in officia illo, distinctio ipsam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<section class="check_now_area check_now_box full_widget_check">
  <div class="container">
    <div class="row m-0 justify-content-between">
      <div class="left">
        <div class="media">
          <div class="d-flex">
            <img src="/static/images/check-4.png" alt>
            <img src="/static/images/check-5.png" alt>
            <img src="/static/images/check-6.png" alt>
          </div>
          <div class="media-body">
            <h4>هل تعتقد أنك قد تكون مصابًا بالمرض؟</h4>
            <p>
              قم بتجربة اشعة التصوير المقطعي الخاصة بك واكتشف ما إذا كنت مصابًا بالمرض أم لا
            </p>
          </div>
        </div>
      </div>
      <div class="right">
        <a class="icon_btn" href="/ar/symptom-checker-covid">اختبر الان <i class="linearicons-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/parallax.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/vendors/animate-css/wow.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}