{% extends 'layouts/dark-ar.html' %} {% block title %}اختبار سرطان الرئة - CA-MIL{% endblock %}
{% block customLink %}/symptom-checker-lung{% endblock %}
{% block content %}
<section class="breadcrumb_area dark_breadcrumb">
    <img class="tp_img" src="/static/images/breadcrumb/checker-banner-map.png" alt>
    <div class="container">
        <div class="breadcrumb_text">
            <h6>هل انت لست بخير ؟</h6>
            <h3>اختبار سرطان الرئة</h3>
        </div>
        <div class="row checker_box_inner">
            <div class="col-lg-6">
                <div class="checker_simple_text">
                    <h3>املأ النموذج الذى بالاسفل</h3>
                    <p>أدخل المزيد من الأعراض للحصول على نتائج أكثر دقة ، بدءًا من أكثر الأعراض خطورة. ابحث في قائمة
                        الأعراض الشائعة
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="d-flex">
                                    <i class="linearicons-lifebuoy"></i>
                                </div>
                                <div class="media-body">
                                    <h4>سوف نساعدك</h4>
                                    <p>نقدم لك بعض النصائح من الخبراء </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="d-flex">
                                    <i class="linearicons-finger-tap"></i>
                                </div>
                                <div class="media-body">
                                    <h4>سهل الأستخدام </h4>
                                    <p>الخطوة الثانية بسيطة جدا </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="d-flex">
                                    <i class="linearicons-tags"></i>
                                </div>
                                <div class="media-body">
                                    <h4>مجانا </h4>
                                    <p>لا تقلق بشأن السعر </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="d-flex">
                                    <i class="linearicons-bubble-question"></i>
                                </div>
                                <div class="media-body">
                                    <h4>هل لديك اى أسئلة؟</h4>
                                    <p>تواصل معنا وسوف نرد عليك</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="checker_form" id="checker-form">
                    <div class="drag-area row text-center justify-content-center">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <header class="drag-drop">اسحب وألصق لتحميل الملف</header>
                        <span>او</span>
                        <button class="upload-btn">أستعراض الملف</button>
                        <input id="fileUpload" class="upload-file" type="file" hidden>
                    </div>
                    <div class="row">
                        <div class="col button text-left">
                            <button id="cancel-upload" onclick="cancelUpload()" class="submit_btn">الغاء</button>
                        </div>
                        <div class="col button text-right">
                            <button id="submit-upload" onclick="submitUpload()" class="submit_btn">رفع</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="home_about_corona">
    <div class="container">
        <!--
        <div class="danger_box alert-danger">
            <p><i class="linearicons-warning"></i> The symptom checker results show a list of possible
                conditions, not an actual diagnosis. Consult
                your doctor if you are concerned.</p>
        </div>
        -->
        <div class="row">
            <div class="col-lg-6">
                <div class="symptom_instruction_text">
                    <h4>تعليمات</h4>
                    <p>
                        إذا كنت تشعر بالطقس ولكنك غير متأكد مما يمكن أن يكون عليه ، يمكن أن يساعدك اختبار الأعراض عبر
                        الإنترنت في تحديد ما إذا كنت بحاجة إلى الحصول على رعاية طبية فورية.
                    </p>
                    <p>اختبار الأعراض عبر الإنترنت هو نظام قائم على التعلم العميق للتصنيف المقنع والكشف الموثوق عن كوفيد
                        باستخدام التصوير الشعاعي للصدر الذي يوفر للمستخدم تصنيفًا في الوقت الفعلي لتصوير الصدر
                        بالأشعة وتظهر النتيجة سواء كانت سلبية أو إيجابية.
                    </p>
                    <!-- <a class="text_btn" href="#">Read more <i class="linearicons-arrow-right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="home_ab_text how_to_use">
                    <div class="home_ab_text_inner">
                        <div class="home_ab_item ">
                            <h4>كيفية الأستخدام؟</h4>
                            <p><b>أستخدم نموذج اختبار الأعراض الأستخدالذى بالأعلى </b></p>
                            <p>- قم بتحميل أشعة الصدر لديك (الاشعة المقطعية)</p>
                            <p>- اضغط على زرار رفع </p>
                            <p>- انتظر حتى تظهر نتائجك</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="result_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="result_box">
                    <h4>النتائج</h4>
                    <!--
                    <ul class="nav flex-column">
                        <li>
                            <span>Symptoms:</span>
                            <a class="tag" href="#">damaged lung</a>
                        </li>
                        <li>
                            <span>Gender:</span>
                            <a href="#">Female</a>
                        </li>
                        <li>
                            <span>Age range:</span>
                            <a href="#">25-30 yrs</a>
                        </li>
                        <li>
                            <span>Region:</span>
                            <a href="#">Egypt</a>
                        </li>
                    </ul>
                    -->
                    <div class="circle_inner">
                        <div class="second circle">
                            <strong></strong>
                        </div>
                    </div>
                    <div class="bottom_text text-center">
                        <h6>الحالة المقدرة</h6>
                        <h3 id="covid-status">لم يحدد بعد</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="result_inner_text">
                    <div class="result_item">
                        <h4>التشخيصات الممكنة</h4>
                        <p>لدينا 3 انواع مختلفة ، مصنفة على أنها صحية (طبيعية) ، ولدينا ورم حميد (حميد) ومصاب (خبيث).
                        </p>
                    </div>
                    <div class="result_item">
                        <h4>الوصف</h4>
                        <p>
                            <strong>تم تقسيم نتائج اختبار سرطان الرئة على أنها طبيعية أو حميدة أو خبيثة. إذا كانت نتيجة
                                الاختبار:</strong>
                        </p>
                        <p>- <strong>طبيعية</strong> - لم يتم اكتشاف شيئ فى العينة.</p>
                        <p>- <strong>حميد</strong> - تم اكتشاف ورم في العينة.</p>
                        <p>- <strong>خبيث</strong> - تم اكتشاف سرطان الرئة في العينة..</p>
                    </div>
                    <div class="result_item">
                        <h4>اقتراحات</h4>
                        <ul>
                            <li>التوجه إلى أقرب مستشفى </li>
                        </ul>
                        <a class="green_btn" href="/ar/symptom-checker-lung"><i class="linearicons-pulse"></i> قم بعمل
                            اختبار اخر </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about_question_area">
    <div class="container">
        <div class="main_title text-center">
            <h2>أسئلة وأجوبة</h2>
        </div>
        <div class="row about_ques_inner">
            <div class="col-lg-4">
                <div class="about_ques_item">
                    <h4>كيف يمكنني التحقق مما إذا كنت مريضًا وما الخطوات التي يجب اتخاذها؟</h4>
                    <p>بالنسبة لاختبار سرطان الرئة، تُبلغ نتائجه على أنها طبيعية أو حميدة أو خبيثة. إذا كانت نتيجة
                        الاختبار كالتالي</p>
                    <p><strong>1- طبيعية </strong> - لم يتم اكتشاف أي تغييرات غير طبيعية في العينة</p>
                    <p><strong>2- حميد </strong> - تم اكتشاف ورم في العينة، ولكنه غير سرطاني</p>
                    <p><strong>3- خبيث </strong> - تم اكتشاف سرطان الرئة في العينة، مشيرًا إلى حالة سرطانية</p>
                    <p>في حالة الحصول على نتيجة "خبيث" او "حميد" يرجى الاتصال بالرقم <b>123</b> على الفور وطلب سيارة
                        إسعاف</p>
                    <a class="text_btn" href="#">اقرأ المزيد <i class="linearicons-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_ques_item">
                    <h4>ما الفرق بين علامات المرض و اعراض المرض؟</h4>
                    <p>غالبًا ما يتم استخدام "العلامة" و "الأعراض" بالتبادل ، ولكن إذا أردنا أن نكون مدققين ، فإنهما
                        يعنيان في الواقع أشياء مختلفة. إذا كنت تشعر بالمرض ، فقد لا يكون ذلك واضحًا على الفور لأي شخص
                        ينظر إليك
                        أنك مريض. على سبيل المثال ، إذا كنت تعاني من ألم أو إرهاق أو دوار ، فأنت فقط تعرف ما هو شعورك.
                        هذه أعراض - لا يمكن وصفها إلا من قبل الشخص الذي يعاني منها.
                    </p>
                    <a class="text_btn" href="#">اقرأ المزيد <i class="linearicons-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about_ques_item">
                    <h4>ما هو مدي أمان ودقة كشف سرطان الرئة؟</h4>
                    <p>
                        نموذجنا لكشف سرطان الرئة يظهر أداءً مذهلاً. إذ يحقق دقة تدريب تصل الي <b>99.16٪</b>، مما يشير إلى مستوى
                        عالٍ
                        من الدقة في تحديد حالات سرطان الرئة أثناء عملية التدريب. بالإضافة إلى ذلك، تحدد فقدان تدريب
                        النموذج بنسبة <b>0.0349٪</b> وذلك يعني أن النموذج تعلم كيفية تصنيف حالات سرطان الرئة بفعالية كبيرة جدا مع تقليل
                        الأخطاء الي نسبة تقارب الصفر. تشير هذه النتائج إلى أن دقة كشف سرطان الرئة التي تعتمد على هذا النموذج آمنة ودقيقة في
                        قدرتها على تحديد الحالات المحتملة لسرطان الرئة.
                    </p>
                    <a class="text_btn" href="#">اقرأ المزيد <i class="linearicons-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="warning_box alert-warning">
            <div class="media">
                <div class="d-flex">
                    <i class="linearicons-notification"></i>
                </div>
                <div class="media-body">
                    <h4>إشعار</h4>
                    <p>
                        النسخ غير المصرح به لهذا الملف، عبر أي وسيط ممنوع منعا باتا ويعتبر اختراقا للخصوصية والسرية وسيتم اتخاذ كافة الاجراءات اللازمة في حالة حصول ذلك - جميع الحقوق محفوظة
                    </p>
                    <p>تم كتابته بواسطة <a href="https://www.linkedin.com/in/omarkhalil0/">عمر خليل</a>، في سبتمبر 2023.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscribe_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="media">
                    <div class="d-flex">
                        <i class="linearicons-mailbox-full"></i>
                    </div>
                    <div class="media-body">
                        <h4>اشترك في النشرة الإخبارية لدينا</h4>
                        <p>
                            نضم إلى قائمة المشتركين لدينا للحصول على آخر الأخبار والتحديثات حول سرطان الرئة التي يتم
                            تسليمها
                            مباشرة في
                            صندوق الوارد الخاص بك.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mail_box">
                    <div class="input-group">
                        <input id="news-letter-email" type="text" class="form-control"
                            placeholder="&#xe997; اكتب بريدك الالكترونى" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                onclick="newsletterSubscribe();">
                                <i class="linearicons-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <label class="container-checkbox"> <span>أنا أوافق على الشروط والأحكام</span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}
<script>
    function submitUpload() {
        // your code start here
        var data = new FormData()
        data.append('files', file) // maybe it should be '{target}_cand'
        data.append('name', file.name)

        let url = "/ar/prediction-lung-cancer"
        fetch(url, {
            method: 'POST',
            body: data,
        })
            .then(function (response) {
                return response.json()
            })
            .then(function (res) {
                var elements = document.querySelectorAll(".second.circle");

                Array.prototype.slice.apply(elements).forEach(function (el) {
                    var $el = $(el);

                    $el.circleProgress({ value: 0 });

                    new Waypoint({
                        element: el,
                        handler: function () {
                            $el
                                .circleProgress({
                                    value: $el.data("value"),
                                    value: Math.round(res.percentage) / 100,
                                    size: 210,
                                    thickness: 16,
                                    startAngle: 5,
                                    emptyFill: "rgba(0, 0, 0, .0)",
                                    fill: {
                                        gradient: ["#f9570c", "#eac60a"],
                                    },
                                })
                                .on("circle-animation-progress", function (event, progress) {
                                    $(this)
                                        .find("strong")
                                        .html(Math.round(res.percentage * progress) + "<i>%</i>");
                                });
                            this.destroy();
                        },
                        offset: "80%",
                    });
                });
                let text = res.prediction;
                document.getElementById("covid-status").innerText = text;
            })
    };
    function cancelUpload() {
        //selecting all required elements
        var dropArea = document.querySelector(".drag-area");
        var uploadedImage = dropArea.querySelector("#uploaded-image");
        var newArea = `<div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <header class="drag-drop">Drag & Drop to Upload File</header>
                        <span>OR</span>
                        <button class="upload-btn">Browse File</button>
                        <input id="fileUpload" class="upload-file" type="file" hidden>`;
        dropArea.classList.remove("active");
        dropArea.removeChild(uploadedImage);
        dropArea.insertAdjacentHTML("afterbegin", newArea);
        var dragText = dropArea.querySelector(".drag-drop");
        var button = dropArea.querySelector(".upload-btn");
        var input = dropArea.querySelector(".upload-file");
        button.onclick = () => {
            input.click(); //if user click on the button then the input also clicked
        }
        input.addEventListener("change", function () {
            //getting user select file and [0] this means if user select multiple files then we'll select only the first one
            file = this.files[0];
            fileName = file.name;
            dropArea.classList.add("active");
            showFile(); //calling function
        });
        //If user Drag File Over DropArea
        dropArea.addEventListener("dragover", (event) => {
            event.preventDefault(); //preventing from default behaviour
            dropArea.classList.add("active");
            dragText.textContent = "Release to Upload File";
        });
        //If user leave dragged File from DropArea
        dropArea.addEventListener("dragleave", () => {
            dropArea.classList.remove("active");
            dragText.textContent = "Drag & Drop to Upload File";
        });
        //If user drop File on DropArea
        dropArea.addEventListener("drop", (event) => {
            event.preventDefault(); //preventing from default behaviour
            //getting user select file and [0] this means if user select multiple files then we'll select only the first one
            file = event.dataTransfer.files[0];
            fileName = file.name;
            showFile(); //calling function
        });
        function showFile() {
            let fileType = file.type; //getting selected file type
            let validExtensions = ["image/jpeg", "image/jpg", "image/png"]; //adding some valid image extensions in array
            if (validExtensions.includes(fileType)) { //if user selected file is an image file
                let fileReader = new FileReader(); //creating new FileReader object
                fileReader.onload = () => {
                    let fileURL = fileReader.result; //passing user file source in fileURL variable
                    let imgTag = `<img id="uploaded-image" src="${fileURL}" alt="${file.name}">`; //creating an img tag and passing user selected file source inside src attribute
                    dropArea.innerHTML = imgTag; //adding that created img tag inside dropArea container
                }
                fileReader.readAsDataURL(file);
            } else {
                alert("This is not an Image File!");
                dropArea.classList.remove("active");
                dragText.textContent = "Drag & Drop to Upload File";
            }
        }
    };
    function newsletterSubscribe() {
        fetch('/newsletter-subscribe', {
            method: 'POST',
            body: JSON.stringify({
                'email': document.getElementById("news-letter-email").value
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function (response) {
            return response.json();
        }).then(function (jsonResponse) {
            if (jsonResponse['success'] == true) {
                console.log();
                // Show a pop-up alert to thank the user
                alert('شكرًا لك على الاشتراك في نشرتنا الإخبارية');
            }
        }).catch(function (error) {
            console.log();
        });
    };
</script>

<script src="/static/js/upload.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/taging-js/tagsinput.js"></script>
<script src="/static/vendors/nice-selector/js/jquery.nice-select.min.js"></script>
<script src="/static/vendors/counterup/jquery.waypoints.min.js"></script>
<script src="/static/vendors/circle-progress/circle-progress.min.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/vendors/animate-css/wow.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEQhXdvO2Yz16kSBaeBzLt7wWRkECXmlg"></script>
<script src="/static/js/gmaps.min.js"></script>
<script src="/static/js/map-active.js"></script>
<script src="/static/js/circle-progress.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}