{% extends 'layouts/main-ar.html' %} {% block title %}تتبع المرض - CA-MIL{% endblock %}
{% block customLink %}/tracker{% endblock %}
{% block content %}
<section class="coronavirus_map">
    <iframe class="map" src="https://coronavirus-92ebd.web.app/map?embed=true"
        allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen>
    </iframe>
</section>


<section class="world_wide_tracker tracker_page pad_top">
    <div class="container">
        <img class="tracker_map" src="/static/images/tracker-map-bg.png" alt>
        <div class="tracker_text">
            <h5>تعقب في جميع أنحاء العالم</h5>
            <h2>حالات الإصابة المؤكدة بفيروس كوفيد</h2>
            <p>اخر تعديل: ابريل 08, 2020, GMT 01:43 </p>
        </div>
        <div class="row tracker_inner">
            <div class="col-lg-3 col-6">
                <div class="media">
                    <div class="d-flex">
                        <img src="/static/images/icon/corona-red-1.png" alt>
                    </div>
                    <div class="media-body">
                        <h2 id="total_cases"></h2>
                        <p>إجمالي الحالات</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="media">
                    <div class="d-flex">
                        <img src="/static/images/icon/corona-black-1.png" alt>
                    </div>
                    <div class="media-body">
                        <h2 id="total_deaths"></h2>
                        <p>إجمالي الوفيات</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="media">
                    <div class="d-flex">
                        <img src="/static/images/icon/corona-green-1.png" alt>
                    </div>
                    <div class="media-body">
                        <h2 id="total_recovered"></h2>
                        <p>المتعافيين</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="media">
                    <div class="d-flex">
                        <img src="/static/images/icon/corona-yellow-1.png" alt>
                    </div>
                    <div class="media-body">
                        <h2 id="new_cases"></h2>
                        <p>الحالات جديدة</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="confirm_boxes row" id="coronaCountryUpdate" data-country="bangladesh">
            <div class="col-lg-2">
                <div class="confirm_item">
                    <i class="linearicons-calendar-check"></i>
                    <h3 class="cuCountryTodayCases"></h3>
                    <p>اليوم</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="confirm_item">
                    <i class="linearicons-earth-lock"></i>
                    <h3 class="cuContries"></h3>
                    <p>البلاد</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="confirm_item">
                    <i class="linearicons-clipboard-user"></i>
                    <h3 class="cuCountryTotal"></h3>
                    <p>الحالات المصابة حاليًا</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="confirm_item">
                    <i class="linearicons-tombstone"></i>
                    <h3 class="cuTotal"></h3>
                    <p>الحالات في جميع أنحاء العالم</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="confirm_item">
                    <i class="linearicons-return2"></i>
                    <h3 class="cuCountryRecovered"></h3>
                    <p>المتعافيين</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="total_cases_chart">
    <div class="container">
        <div class="total_cases_inner">
            <iframe style="width:100%" src="https://coronavirus.app/chart/evolution/infected?embed=true" frameborder="0"
                allow="autoplay;" allowfullscreen></iframe>
        </div>
        <div class="total_cases_inner">
            <iframe style="width:100%" src="https://coronavirus.app/chart/new/infected?embed=true" frameborder="0"
                allow="autoplay;" allowfullscreen></iframe>
        </div>
    </div>
</section>


<section class="data_table_area">
    <div class="container">
        <div class="main_title text-center">
            <h5>التتبع حسب الدول</h5>
            <h2>فيروس كوفيد بالأرقام</h2>
        </div>
        <div class="all-country table-responsive">
            <table id="world_table" class="table table-striped table-bordered dataTable no-footer" role="grid"
                aria-describedby="world_table_info">
                <thead>
                    <tr role="row">
                        <th>مسلسل</th>
                        <th>علَم</th>
                        <th>بلد</th>
                        <th>الحالات</th>
                        <th>الحالات الجديدة</th>
                        <th>حالات الوفاة</th>
                        <th>حالات الوفاة الجديدة</th>
                        <th>المتعافيين
                        </th>
                        <th>الحالات المصابة</th>
                        <th>الحالات الحرجة</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>


<section class="subscribe_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="media">
                    <div class="d-flex">
                        <i class="linearicons-mailbox-full"></i>
                    </div>
                    <div class="media-body">
                        <h4>اشترك في النشرة الإخبارية لدينا</h4>
                        <p>
                            انضم إلى قائمة المشتركين لدينا للحصول على آخر الأخبار والتحديثات حول الموقع التي يتم تسليمها
                            مباشرة في
                            صندوق الوارد الخاص بك
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mail_box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="&#xe997; اكتب بريدك الالكترونى"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <i class="linearicons-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <label class="container-checkbox"><span>أنا أوافق على الشروط والأحكام </span>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/corona-live/main.js"></script>
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/corona-live/jquery.dataTables.min.js"></script>
<script src="/static/vendors/corona-live/datatable.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/vendors/nice-selector/js/jquery.nice-select.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}