{% extends 'layouts/virius-checker-ar.html' %} {% block title %}اختبار الفيروس - CA-MIL{% endblock %}
{% block content %}
<div class="pagepiling">
    <div class="pp-scrollable section active">
        <div class="scroll-wrap">
            <div class="p-section-bg" style="background-image:url(&#x27;/static/images/checker_map.png&#x27;);">
            </div>
            <div class="scrollable-content">
                <div class="container">
                    <div class="virus_checker_content">
                        <div class="main_title">
                            <h5>هل تعتقد انك مريض؟</h5>
                            <h2>تعرف على ما يجب عليك القيام به حينما تصاب بفيروس كوفيد </h2>
                        </div>
                        <h4>يجب عليك الاتصال <span>123</span> اذا كان لديك</h4>
                        <ul class="list-unstyled">
                            <li><i class="linearicons-heart-pulse"></i><span>علامات النوبة القلبية</span>
                                ألم مثل رباط ضيق جدًا أو وزن ثقيل أو ضغط في منتصف صدرك.</li>
                            <li><i class="linearicons-brain"></i><span>علامات السكتة الدماغية</span> تدلى الوجه من جانب
                                واحد ، لا يستطيع رفع ذراعيه ، صعوبة في التحدث.</li>
                            <li><i class="linearicons-wind"></i><span>صعوبة شديدة في التنفس</span>
                                يلهث ، عدم القدرة على إخراج الكلمات ، الاختناق أو تحول الشفاه إلى اللون الأزرق.</li>
                            <li><i class="linearicons-drop2"></i><span>نزيف شديد</span> هذا لن يتوقف.
                            </li>
                            <li><i class="linearicons-power"></i><span>إصابات خطيرة</span> أو جروح عميقة بعد حادث خطير
                            </li>
                            <li><i class="linearicons-ambulance"></i><span>نوبة </span>
                                شخص ما يرتجف أو يرتجف بسبب نوبة أو فاقد للوعي (لا يمكن إيقاظه).</li>
                        </ul>
                        <div class="checked_button_info">
                            <h4>هل لديك أي مما سبق؟</h4>
                            <div class="check_btn" data-toggle="modal" data-target="#ambulanceModal">
                                <input type="radio" name="yes" id="yes" value="yes">
                                <label for="yes">نعم</label>
                            </div>
                            <div class="check_btn moveDown">
                                <input type="radio" name="yes" id="no" value="no">
                                <label for="no">لا</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pp-scrollable section">
        <div class="scroll-wrap">
            <div class="p-section-bg" style="background-image:url(&#x27;/static/images/checker_map.png&#x27;);">
            </div>
            <div class="scrollable-content">
                <div class="container">
                    <div class="virus_checker_content">
                        <p>نحتاج إلى معرفة بعض التفاصيل حول عمرك وجنسك والمنطقة التي تعيش فيها.</p>
                        <p>يرجى تقديم التفاصيل الخاصة بك أو ، إذا كنت تسأل عن شخص آخر ، تفاصيل الشخص الذي تسأل عنه.</p>
                        <p>سيساعد ذلك في تكوين فكرة أفضل عن الأشخاص المصابين بفيروس كوفيد.</p>
                        <form action="#" class="appoinment_form select_form">
                            <div class="form-group">
                                <input class="form-control" type="number" id="age" name="age" placeholder>
                                <label for="age">ما هو عمرك بالسنوات؟</label>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" id="code" name="code" placeholder>
                                <label for="code">ما هو الرمز البريدي الخاص بك؟</label>
                            </div>
                        </form>
                        <div class="checked_button_info">
                            <h4>ما هو جنسك؟</h4>
                            <div class="check_btn">
                                <input type="radio" name="gender" id="male" value="male">
                                <label for="male">ذكر</label>
                            </div>
                            <div class="check_btn">
                                <input type="radio" name="gender" id="female" value="female">
                                <label for="female">أنثى</label>
                            </div>
                            <div class="check_btn">
                                <input type="radio" name="gender" id="other" value="other">
                                <label for="other">أخرى / يفضل عدم الإجابة</label>
                            </div>
                        </div>
                        <button type="button" class="continue_btn moveDown">اكمل</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pp-scrollable section">
        <div class="scroll-wrap">
            <div class="p-section-bg" style="background-image:url(&#x27;/static/images/checker_map.png&#x27;);">
            </div>
            <div class="scrollable-content">
                <div class="container">
                    <div class="virus_checker_content">
                        <div class="main_title">
                            <h5>بعض النصائح التى يتواجب اتخاذها للقلق بشأن فيروس كوفيد</h5>
                            <h2>تحتاج إلى اتخاذ إجراء إذا كان لديك إما</h2>
                        </div>
                        <div class="row virus_symptom_inner">
                            <div class="col-md-6">
                                <div class="media virus_symptom">
                                    <div class="round_img">
                                        <img src="/static/images/fever.png" alt>
                                    </div>
                                    <div class="media-body">
                                        <h5>حمى <span>(درجة حرارة عالية)</span></h5>
                                        <p>حتى إذا لم يكن لديك مقياس حرارة ، يجب أن تجيب بـ "نعم" إذا كان ظهرك أو صدرك
                                            ساخنًا عند اللمس.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media virus_symptom">
                                    <div class="round_img">
                                        <img src="/static/images/cough.png" alt>
                                    </div>
                                    <div class="media-body">
                                        <h5>سعال مستمر</h5>
                                        <p>السعال الشديد لمدة تزيد عن ساعة ، أو 3 نوبات سعال أو أكثر في غضون 24 ساعة.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checked_button_info">
                            <h4>هل لديك أي من هذه الأعراض؟</h4>
                            <div class="check_btn" data-toggle="modal" data-target="#ambulanceModal">
                                <input type="radio" name="yes" id="yes2" value="yes2">
                                <label for="yes2">نعم</label>
                            </div>
                            <div class="check_btn moveDown">
                                <input type="radio" name="yes" id="no2" value="no2">
                                <label for="no2">لا</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pp-scrollable section">
        <div class="scroll-wrap">
            <div class="p-section-bg" style="background-image:url(&#x27;/static/images/checker_map.png&#x27;);">
            </div>
            <div class="scrollable-content">
                <div class="container">
                    <div class="virus_checker_content">
                        <div class="checked_button_info">
                            <h4>هل تشعر بضيق شديد لدرجة أنك لا تستطيع التحدث بأكثر من بضع كلمات؟</h4>
                            <div class="check_btn" data-toggle="modal" data-target="#ambulanceModal">
                                <input type="radio" name="yes" id="yes3" value="yes">
                                <label for="yes3">نعم</label>
                            </div>
                            <div class="check_btn moveDown">
                                <input type="radio" name="yes" id="no3" value="no">
                                <label for="no3">لا </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pp-scrollable section active">
        <div class="scroll-wrap">
            <div class="p-section-bg" style="background-image:url(&#x27;/static/images/checker_map.png&#x27;);">
            </div>
            <div class="scrollable-content">
                <div class="container">
                    <div class="virus_checker_content">
                        <div class="checked_button_info">
                            <h4>هل تعيش مع شخص أصيب بحمى أو سعال جديد؟</h4>
                            <div class="check_btn" data-toggle="modal" data-target="#ambulanceModal">
                                <input type="radio" name="yes" id="yes4" value="yes">
                                <label for="yes4">نعم</label>
                            </div>
                            <div class="check_btn" data-toggle="modal" data-target="#recommenddModal">
                                <input type="radio" name="yes" id="no4" value="no">
                                <label for="no4">لا</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade ambulanceModal" id="ambulanceModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <i class="linearicons-ambulance"></i>
            <h6>ينصح به بشده</h6>
            <h2>يرجى الاتصال بالرقم 123 على الفور و<br> اطلب سيارة إسعاف</h2>
            <button type="button" class="exit_btn" data-dismiss="modal">خروج</button>
        </div>
    </div>
</div>

<div class="modal fade recommenddModal" id="recommenddModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="scroll_body">
                <div class="main_title">
                    <h5>التوصية بالتفاصيل الخاصة بك</h5>
                    <h2>يرجى الاتصال على 105 أو 15335 والتحدث إلى ممرضة</h2>
                </div>
                <p>أخبرهم أن هذه الأداة نصحتك بالاتصال بأعراض فيروس كوفيد. ستكون خدمة الهاتف مشغولة للغاية ولكن يجب
                    عليك الانتظار حتى تصل</p>
                <h6>تحتاج أيضًا إلى عزل نفسك والبقاء في المنزل لمدة 7 أيام على الأقل.</h6>
                <ul class="list-unstyled">
                    <li><i class="linearicons-arrow-right"></i><span> كل شخص يعيش معك يحتاج</span> لعزل نفسهم في المنزل
                        على الأقل <span>14 يوم .</span></li>
                    <li><i class="linearicons-arrow-right"></i>If <span>يصابون بالحمى أو السعال</span> خلال ذلك الوقت
                        يجب عليهم إكمال هذا النموذج.</li>
                    <li><i class="linearicons-arrow-right"></i>حتى لو كنتم في المنزل معًا ، يجب عليك
                        <span>حاولو الابتعاد عن بعضكما البعض قدر الإمكان.</span>
                    </li>
                    <li><i class="linearicons-arrow-right"></i>إذا كنت تعيش مع شخص يبلغ من العمر 70 عامًا أو أكبر ، أو
                        لديه حالة صحية طويلة الأمد أو حامل ، فحاول العثور على مكان آخر ليقيم فيه لمدة 14 يومًا (حيث
                        يمكنه عزل أنفسهم).</li>
                </ul>
                <p><span>اكتشف المزيد حول كيفية عزل الذات</span> يرجى قراءة هذا الدليل واتباعه بعناية لحماية الآخرين.
                    لحماية نفسك والآخرين ، لا تذهب إلى طبيب عام أو صيدلية أو مستشفىl.</p>
                <h6>إذا كنت بعيدًا عن المنزل</h6>
                <ul class="list-unstyled">
                    <li><i class="linearicons-arrow-right"></i>اذهب إلى المنزل من الطريق الأكثر مباشرة</li>
                    <li><i class="linearicons-arrow-right"></i>ابق على بعد مترين على الأقل من الناس إن أمكن.
                    </li>
                    <li><i class="linearicons-arrow-right"></i>تجنب وسائل النقل العام إذا استطعت.</li>
                </ul>
            </div>
            <button type="button" class="exit_btn" data-dismiss="modal">خروج</button>
        </div>
    </div>
</div>
<div class="modal fade search_modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="/static/images/icon/close-white.png" alt>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type here..."
                        aria-label="Recipient's username">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i
                                class="linearicons-magnifier"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="/static/vendors/corona-live/dashboard.js"></script> -->
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/theme.js"></script>
{% endblock %}