<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="Covid 19 Detector Using Deep Learning Model">
    <meta name="author" content="Omar Khalil, John Aziz">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:site_name" content="CA-MIL">
    <meta property="og:locale" content="en_IE" />
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    {% block meta %}
    {% endblock %}
    <!-- /meta -->

    <link rel="apple-touch-icon" sizes="57x57" href="/static/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/ico/favicon-16x16.png">
    <link rel="manifest" href="/static/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/vendors/linearicons/css/linearicons.css">
    <link rel="stylesheet" href="/static/vendors/slick/slick.css">
    <link rel="stylesheet" href="/static/vendors/slick/slick-theme.css">
    <link rel="stylesheet" href="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">


</head>

<body>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "101296062981143");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v16.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="body_wrapper">

        <div class="preloader">
            <div class="three-bounce">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>


        <div class="canvus_menu_area">
            <div class="container">
                <div class="logo_part d-flex justify-content-end">
                    <div class="right">
                        <div class="close_btn">
                            <img src="/static/images/icon/close-white.png" alt>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_part_lux">
                <ul class="menu_list wd_scroll">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="active">
                        <a href>How to Use
                            <i class="linearicons-chevron-down"></i>
                        </a>
                        <ul class="list">
                            <li><a href="/symptom">For Lung Cancer</a></li>
                            <li><a href="/symptom">for Pneumonia</a></li>
                            <li><a href="/symptom">For Covid 19</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>


        <header class="header_area menu_tow">
            <div class="main_menu">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href><img src="/static/images/logo-2.png"
                                srcset="/static/images/logo-2-2x.png 2x" alt></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li><a href="/"><i class="linearicons-arrow-left"></i> Return to Homepage</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav justify-content-end">
                                <li class="menu_btn">
                                    <img src="/static/images/icon/burger-white.png" alt>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}

    {% block script %}{% endblock %}
</body>

</html>
