<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/static/images/favicon.png" type="image/png">
<title>COVID - 19</title>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/vendors/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/vendors/linearicons/css/linearicons.css">
<link rel="stylesheet" href="/static/vendors/slick/slick.css">
<link rel="stylesheet" href="/static/vendors/slick/slick-theme.css">
<link rel="stylesheet" href="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
<div class="body_wrapper">

<div class="preloader">
<div class="three-bounce">
<div class="one"></div>
<div class="two"></div>
<div class="three"></div>
</div>
</div>


<div class="canvus_menu_area full_canvus">
<div class="logo_part d-flex justify-content-end">
<div class="right">
<div class="close_btn">
<img src="/static/images/icon/close-white.png" alt>
</div>
</div>
</div>
<div class="menu_part_lux">
<ul class="menu_list wd_scroll">
<li><a href>Home</a></li>
<li class="active">
<a href>Prevention
<i class="linearicons-chevron-down"></i>
</a>
<ul class="list">
<li><a href="symptom.html">Typical Symptoms</a></li>
<li><a href="symptom-checker.html">Symptom Checker</a></li>
<li><a href="prevention.html">Prevention</a></li>
<li><a href="virus-checker.html">Coronavirus Checker</a></li>
<li><a href="tracker.html">Tracker</a></li>
<li><a href="maintenance.html">Maintenance</a></li>
<li><a href="faq.html">Faqs</a></li>
</ul>
</li>
<li><a href="appointment.html">Appointment</a></li>
<li class="active">
<a href="#">Pages
<i class="linearicons-chevron-down"></i>
</a>
<ul class="list">
<li><a href="about.html">About</a></li>
<li><a href="doctors.html">Doctors</a></li>
<li><a href="sample-right-sidebar.html">Simple Sidebar</a></li>
<li><a href="typography.html">Typhography</a></li>
<li><a href="search.html">Search</a></li>
<li><a href="search-nothing.html">Not Found</a></li>
<li><a href="comingsoon.html">Coming Soon</a></li>
<li><a href="404.html">Error</a></li>
</ul>
</li>
<li>
<a href>Blog
<i class="linearicons-chevron-down"></i>
</a>
<ul class="list">
<li><a href="blog.html">Blog</a></li>
<li><a href="single-blog.html">Blog Details</a></li>
</ul>
</li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
</div>


<header class="header_area menu_tow just_burger_menu">
<div class="main_menu">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav justify-content-end">
<li class="menu_btn">
<img src="/static/images/icon/burger-white.png" alt>
</li>
</ul>
</div>
</nav>
</div>
</header>

<div class="coming_soon_area">
<div class="overlay_bg" style="background: url(/static/images/coming_soon_map_bg.png);background-position: center 0;"></div>
<div class="container">
<div class="coming_soon_content text-center">
<a href="#"><img src="/static/images/logo-2.png" alt></a>
<div id="clockdiv" class="clock" data-date="2021-05-06"></div>
<h6>Stay tuned, we’re coming soon</h6>
<h2>Before launching our new website</h2>
<p>We're working so hard to give you the hottest updates, knowledge base
and information about the coronavirus.
</p>
<h5>We'll let you know when we start</h5>
<form action="#" class="mail_box">
<div class="input-group">
<input type="text" class="form-control" placeholder=" Enter your email" aria-label="Recipient's username" aria-describedby="button-addon2">
<div class="input-group-append">
<button class="btn btn-outline-secondary" type="button" id="button-addon2">
<i class="linearicons-arrow-right"></i>
</button>
</div>
</div>
</form>
<div class="footer_copyright coming_soon_footer">
<ul class="nav">
<li>
<a href="#"><i class="fab fa-facebook"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-twitter"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-instagram"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-youtube"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-vimeo-v"></i></a>
</li>
</ul>
<p>© Copyright
<script>
                                document.write(new Date().getFullYear());
                            </script> CovDec Organisation Ltd.
</p>
<h6>
Designed with <i class="linearicons-heart"></i>
by <span>creakits</span>
</h6>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade search_modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<img src="/static/images/icon/close-white.png" alt>
</button>
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<div class="input-group">
<input type="text" class="form-control" placeholder="Type here..." aria-label="Recipient's username" aria-describedby="button-addon2">
<div class="input-group-append">
<button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="linearicons-magnifier"></i></button>
</div>
</div>
</div>
</div>
</div>
</div>


<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/vendors/corona-live/dashboard.js"></script>
<script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="/static/vendors/slick/slick.min.js"></script>
<script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/comming-soon.js"></script>
<script src="/static/js/theme.js"></script>
</body>
</html>